## T Test 
used to dertermine if there is significant difference btw the means of two group

In [1]:
## One Sample T Test

ages= [10,20,35,55,34,34,54,15,45,50,30,67,38,37,71,54,57,58,43,43,39,27,22,24,27,34,45,23,22,23,24,26,27]

In [2]:
len(ages)

33

In [3]:
import numpy as np
ages_mean= np.mean(ages)
print(ages_mean)

36.75757575757576

In [4]:
## Lets take a sample

sample_size = 10
age_sample = np.random.choice(ages,sample_size)

In [5]:
from scipy.stats import ttest_1samp

In [6]:
ttest,p_value = ttest_1samp(age_sample,36.5)

In [7]:
print(p_value)

0.49211576039117677

In [8]:
## alpha value 0.05
if p_value< 0.05:
    print("reject null hypothesis")
else:
    print("Accept null hupothesis")

Accept null hupothesis

## More Examples

In [9]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18,mu =35,size=1500)  ## Poisson distribution
classA_ages = stats.poisson.rvs(loc=18,mu =30,size=60)

In [10]:
classA_ages.mean()

46.9

In [11]:
_,p_value=ttest_1samp(classA_ages,school_ages.mean())
print(p_value)

1.139027071016194e-13

In [12]:
np.random.seed(12)
classB_ages = stats.poisson.rvs(loc=18,mu =33,size=60)
classB_ages.mean()

50.63333333333333

In [13]:
_,p_value=stats.ttest_ind(classA_ages,classB_ages,equal_var=False)
print(p_value)

0.00039942095100859375

## Chi Squared Test

applied on two categorical variable from single population

In [15]:
import seaborn as sns

In [16]:
dataset = sns.load_dataset("tips")

In [17]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [18]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker']) #Forms a matrix
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [19]:
Observed_values= dataset_table.values
print(Observed_values)

[[60 97]
 [33 54]]

In [20]:
val= stats.chi2_contingency(dataset_table)
print(val)

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [21]:
Expected_values=val[3]

In [24]:
from scipy.stats import chi2
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:-",chi_square_statistic)

critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Degree of Freedom:- 1
chi-square statistic:- 0.001934818536627623
critical_value: 3.841458820694124
p-value: 0.964915107315732
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732
Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables